*{
    text-decoration: none;
    
}


.nav-div{
    padding-right: 15px;
    padding-left: 15px;
    background-color: black;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

ul{
    word-spacing: 25px;
}
li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25xp;
}

button{
    font-size: 20px;
    border-radius: 15px;
    width: 6rem;
    height: 2rem;
    
}

button a {
    color: black;
}
